* {
    box-sizing: border-box;
}
.dice {
    text-align: center;
    display: inline-block;
    align-items: center;
    font-size: 1em;
    padding: 12px 10px 12px 10px;
}
body {
    background-color: rgba(121, 178, 228, 0.671);
    padding-top: 50px;
}
h1 {

    color: rgb(243, 166, 65);
    text-shadow: 5px 0 rgba(63, 61, 61, 0.521);
}
.refresh {
    padding: 32px 0px 32px 0px;
    font-size: 1.5rem;
    text-align: center;
}
#title-text {
    font-family: 'Stoke', serif;

}
img {
    width: 80px;
}
.footer {
    text-align: center;
}